<h2>Category Sweepstakes Winners</h2>
<div class="row">
	#foreach($test in $winners.keySet())
		<div class="col-md-6">
			<h2>
				$test.getName()
				Winners
			</h2>
			<div class="table-responsive">
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th title="Click to sort">Rank</th>
							<th title="Click to sort">School</th>
							<th title="Click to sort">Score</th>
						</tr>
					</thead>
						#set($lastPlacingScore = -1)
						#set($lastPlace = -1)
						#foreach($school in $winners.get($test))
							#set($score = $school.getScore($test))
							#if($foreach.count > $trophy * 2 && !$admin)
								#break
							#end
							<tr>
								<td>
								#if($score.equals($lastPlacingScore))
									$lastPlace
								#else
									$foreach.count
									#set($lastPlace = $foreach.count)
									#set($lastPlacingScore = $score)
								#end
								#if($foreach.count <= $trophy) <i class="fa fa-trophy"></i> #end
								</td>

								#set($schoolName = $school.getName())
								#if($admin)
									<td><a href="/data/scores?type=school_$esc.url($schoolName)&level=$level">$schoolName</a></td>
								#else
									<td>$schoolName</td>
								#end

								<td>
									<a class="popovers" href="#" data-toggle="popover"
										title="#foreach($student in $school.getScoreStudents($test))
												<strong>#if($hideFullNames)$student.getPublicName() ($student.getGrade())
												#else $student.getName() ($student.getGrade())#end</strong> -
												$student.getScore($test).getScoreNum() <br>
											#end">

										$score
									</a>
								</td>
							</tr>
						#end
				</table>
			</div>
		</div>
	#end
</div>
