<h2>Category Sweepstakes Winners</h2>
#foreach($test in $winners.keySet())
	<h2>
    	#if($test == 'M')
    		Math 
    	#elseif($test == 'C')
    		Calculator 
    	#elseif($test == 'N')
    		Number Sense 
    	#else
    		Science 
    	#end
    	Winners
	</h2>
	
	<table class="table table-striped table-condensed table-hover">
		<thead>
    		<tr>
		    	<th>Rank</th>
		    	<th>School</th>
		    	<th>Score</th>
	    	</tr>
	    </thead>
	    	#set($i = 1)
	    	#foreach($school in $winners.get($test))
	    		<tr>
	        		<td> $i </td>
	        		<td> $school.getName() </td>
	        		<td> $school.getScore($test) </td>
	    		</tr>
	    		#set($i = $i + 1)
	    	#end
	</table>
#end