<h2><a class="anchor" id="scores"></a>Scores #if($qualifyingCriteria && $qualifyingCriteria != "{}") <small class="pull-right"><span class="text-success">Green</span> indicates qualifying</small> #end</h2>

<div class="alert alert-warning" role="alert">
	Click an alert button <span class="glyphicon glyphicon-alert"></span> to report an issue with a particular student.
	If your problem isn't associated with a student displayed here, <a class="alert-link" href="/contactUs" target="blank">contact us</a>.
	Please include as much detail as possible.
</div>

<div class="table-responsive">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th class="hidden-print"></th>
				<th title="Click to sort"><span class="hidden-xs">Student</span> Name</th>
				<th title="Click to sort">Grade</th>
				#foreach($subject in $subjects)
					<th title="Click to sort">$subject.getName() <span class="hidden-xs">Score</span></th>
				#end
			</tr>
		</thead>
		#foreach($student in $school.getStudents())
			<tr>
				<td class="hidden-print">
					<a href="/contactUs?comment=There+is+an+issue+with+$esc.url($student.getName())'s scores:+" target="blank">
						<span class="glyphicon glyphicon-alert"></span>
					</a>
					</td>
				<td>$student.getName()</td>
				<td>$student.getGrade()</td>
				#foreach($subject in $subjects)
					#set($score = false)
					#set($score = $student.getScore($subject))
					#set($testString = $student.getGrade().toString() + $subject.toString())

					<td #if($score && $score.getScoreNum() >= $qualifyingCriteria.get($testString)) class="qual text-success" #end>
						#if($score) $score #else - #end
					</td>
				#end
			</tr>
		#end
	</table>
</div>

#parse("visualizations.html")

<h2><a class="anchor" id="sweepstakes"></a>Current Sweepstakes Scores: <strong>$school.getTotalScore()</strong></h2>

<div class="row">
	#foreach($subject in $subjects)
		<div class="col-md-6">
			<div class="lead">$subject.getName(): <strong>$school.getScore($subject)</strong></div>
			#foreach($student in $school.getScoreStudents($subject))
				<strong>$student.getName() ($student.getGrade())</strong> -
				$student.getScore($subject).getScoreNum() <br>
			#end
			#set($end = (4 - $school.getScoreStudents($subject).size()))
			#foreach($i in [1..$end]) <br> #end
			<div id="${subject}-PieGraph" style="padding-top: 10px;"></div>
			<br>
		</div>
	#end
</div>

<script type="text/javascript">
	$(document).ready(function () {
		#foreach($subject in $subjects)
			$('#${subject}-PieGraph').highcharts({
				chart: {
					type: 'pie'
				},
				title: false,
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer'
					}
				},
				series: [{
					type: 'pie',
					name: '$subject.getName() Score',
					data: [
						#set($total = 0)
						#foreach($student in $school.getScoreStudents($subject))
							#set($score = $student.getScore($subject).getScoreNum())
							['$student.getPublicName()', $score],
							#set($total = $total + $score)
						#end
						#set($remaining = $Test.fromSubjectAndGrade($Level.fromString($level).getLowGrade(), $subject).getMaxTeamScore() * 4 - $total)
						{
							name: 'Remaining',
							dataLabels: false,
							marker: {
								enabled: false,
							},
							y: $remaining,
							color: 'white',
							tooltip: false
						}
					]
				}]
			});
		#end
	});
</script>
