<em>Note: </em>
only scores that fall in the top 20 are displayed below
<br />

<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th title="Click to sort">Student Name</th>
			<th title="Click to sort">Grade</th>
			<th title="Click to sort">School</th>
			<th title="Click to sort">Math Score</th>
			<th title="Click to sort">Calculator Score</th>
			<th title="Click to sort">Number Sense Score</th>
			<th title="Click to sort">Science Score</th>
		</tr>
	</thead>
	#foreach($student in $students)
	<tr>
		<td>$student.getName()</td>
		<td>$student.getGrade()</td>
		<td>$student.getSchool().getName()</td> 
		
		#set($mScore = false)
		#set($cScore = false)
		#set($nScore = false)
		#set($sScore = false)

		#set($mScore = $student.getScore("M").getScore())
		#set($cScore = $student.getScore("C").getScore()) 
		#set($nScore = $student.getScore("N").getScore()) 
		#set($sScore = $student.getScore("S").getScore())

		<td>#if($mScore) $mScore #else - #end</td>
		<td>#if($cScore) $cScore #else - #end</td>
		<td>#if($nScore) $nScore #else - #end</td>
		<td>#if($sScore) $sScore #else - #end</td>
	</tr>
	#end
</table>