<div class="table-responsive">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th title="Click to sort"><span class="hidden-xs">Student</span> Name</th>
				<th title="Click to sort">Grade</th>
				<th title="Click to sort">School</th>
				#foreach($subject in $subjects)
					<th title="Click to sort">$subject.getName() <span class="hidden-xs">Score</span></th>
				#end
			</tr>
		</thead>
		#set($missingStudents = 0)
		#set($missingFirstSubjectStudents = 0)
		#set($missingTests = {})
		#foreach($subject in $subjects)
			$!missingTests.put($subject, 0)
		#end

		#foreach($student in $students)
		#set($missingStudentTests = 0)
		#set($scores = $student.getScores())
		<tr #if($scores.size() == 0) class="danger" #elseif($scores.size() < $student.getRegisteredSubjects().size()) class="warning" #end>
			<td>$student.getName()</td>
			<td>$student.getGrade()</td>
			<td>#set($schoolName = $student.getSchool().getName()) <a href="/data/scores?type=school_$esc.url($schoolName)&level=$level">$schoolName</a></td>
			#foreach($subject in $subjects)
				#set($score = false)
				#set($score = $scores.get($subject))
				#set($testString = $student.getGrade().toString() + $subject.toString())
				<td #if($score && $score.getScoreNum() >= $qualifyingCriteria.get($testString)) class="qual text-success" #end>
					#if($score)
						$score
					#elseif(!$score && $student.shouldHaveScore($subject) && $scores.size() > 0)
						?
						#set($missingStudentTests = $missingStudentTests + 1)
						#set($newTotal = $missingTests.get($subject) + 1)
						#set($_ = $missingTests.put($subject, $newTotal))
					#else
						-
					#end
				</td>
			#end
		</tr>

		#if($scores.size() == 0)
			#set($missingStudents = $missingStudents + 1)
		#end

		#if($scores.size() != 0 && $student.shouldHaveScore($firstSubject) && !$scores.get($firstSubject) && $missingStudentTests == 1)
			#set($missingFirstSubjectStudents = $missingFirstSubjectStudents + 1)
		#end

		#end

		<tfoot>
			<td colspan="3"><strong>Missing</strong></td>
			#foreach($subject in $subjects)
				<td>$missingTests.get($subject) test#if($missingTests.get($subject) != 1)s#end</td>
			#end
		</tfoot>
	</table>
</div>

#set($totalMissingTests = 0)
#foreach($subject in $subjects)
	#set($totalMissingTests = $totalMissingTests + $missingTests.get($subject))
#end

<h4><strong class="text-warning">Missing tests from attendees:</strong> $totalMissingTests</h4>
<h4><strong class="text-warning">Suspected late students (missing only $firstSubject.getName()): </strong>$missingFirstSubjectStudents</h4>
<h4><strong class="text-danger">Suspected missing students (no-shows): </strong> $missingStudents</h4>
