<h2> Sweepstakes Winners </h2>

<table class="table table-striped table-condensed table-hover">
	<thead>
	    <tr>
	        <th title="Click to sort">Rank</th>
	        <th title="Click to sort">School</th>
	        <th title="Click to sort" class="num">Number of Students</th>
	        #foreach($subject in $subjects)
				<th title="Click to sort">$subject.getName() Score</th>
			#end
	        <th title="Click to sort">Overall Score</th>
	    </tr>
    </thead>
    #foreach($school in $winners)
    	<tr>
        	<td> $foreach.count #if($foreach.count <= $trophy) <i class="fa fa-trophy"></i> #end</td>
        	<td> $school.getName() </td>
        	<td class="num"> $school.getNumStudents() </td>
        	#foreach($subject in $subjects)
	        	<td> 
	        		<a class="popovers" href="#" data-toggle="popover" title="#foreach($student in $school.getScoreStudents($subject)) 
	        			<strong>#[[#if($hideFullNames)]]#$student.getPublicName() ($student.getGrade())
						#[[#else]]# $student.getName() ($student.getGrade())#[[#end]]#</strong> - 
	        			$student.getScore($subject).getScoreNum() <br> #end">
	        			
						$school.getScore($subject)
					</a> 
				</td>
			#end
        	<td> $school.getTotalScore() </td>
    	</tr>
    #end
</table>