<h2> Sweepstakes Winners </h2>

<table class="table table-striped table-condensed table-hover">
	<thead>
	    <tr>
	        <th title="Click to sort">Rank</th>
	        <th title="Click to sort">School</th>
	        <th title="Click to sort" class="num">Number of Students</th>
	        <th title="Click to sort">Math Score</th>
	        <th title="Click to sort">Calculator Score</th>
	        <th title="Click to sort">Number Sense Score</th>
	        <th title="Click to sort">Science Score</th>
	        <th title="Click to sort">Overall Score</th>
	    </tr>
    </thead>
    #set($i = 1)
    #foreach($school in $winners)
    	<tr>
        	<td> $i #if($i <= 3) #include("trophyImage.html") #end</td>
        	<td> $school.getName() </td>
        	<td class="num"> $school.getNumStudents() </td>
        	<td> 
        		<a class="popovers" href="#" data-toggle="popover" title="#foreach($student in $school.getScoreStudents("M")) 
        			<strong>#[[#if($hideFullNames)]]#$student.getPublicName() ($student.getGrade())
					#[[#else]]# $student.getName() ($student.getGrade())#[[#end]]#</strong> - 
        			$student.getScore("M").getScoreNum() <br> #end">
        			
					$school.getScore("M")
				</a> 
			</td>
			<td> 
        		<a class="popovers" href="#" data-toggle="popover" title="#foreach($student in $school.getScoreStudents("C")) 
        			<strong>#[[#if($hideFullNames)]]#$student.getPublicName() ($student.getGrade())
					#[[#else]]# $student.getName() ($student.getGrade())#[[#end]]#</strong> - 
        			$student.getScore("C").getScoreNum() <br> #end">
        			
					$school.getScore("C")
				</a> 
			</td>
			<td> 
        		<a class="popovers" href="#" data-toggle="popover" title="#foreach($student in $school.getScoreStudents("N")) 
        			<strong>#[[#if($hideFullNames)]]#$student.getPublicName() ($student.getGrade())
					#[[#else]]# $student.getName() ($student.getGrade())#[[#end]]#</strong> - 
        			$student.getScore("N").getScoreNum() <br> #end">
        			
					$school.getScore("N")
				</a> 
			</td>
			<td> 
        		<a class="popovers" href="#" data-toggle="popover" title="#foreach($student in $school.getScoreStudents("S")) 
        			<strong>#[[#if($hideFullNames)]]#$student.getPublicName() ($student.getGrade())
					#[[#else]]# $student.getName() ($student.getGrade())#[[#end]]#</strong> - 
        			$student.getScore("S").getScoreNum() <br> #end">
        			
					$school.getScore("S")
				</a>
			</td>
        	<td> $school.getTotalScore() </td>
    	</tr>
    	#set($i = $i + 1)
    #end
</table>