<h2> Sweepstakes Winners </h2>

<div class="table-responsive">
	<table class="table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th title="Click to sort">Rank</th>
				<th title="Click to sort">School</th>
				#if($admin) <th title="Click to sort">Number of Students</th> #end
				#foreach($subject in $subjects)
					<th title="Click to sort">$subject.getName() <span class="hidden-xs">Score</span></th>
				#end
				<th title="Click to sort">Overall <span class="hidden-xs">Score</span></th>
			</tr>
		</thead>
		#foreach($school in $winners)
			#if(($foreach.count > $trophy * 3 || $foreach.count > 10) && !$admin)
				#break
			#end
			<tr>
				<td> $foreach.count #if($foreach.count <= $trophy) <i class="fa fa-trophy"></i> #end</td>

				#if($admin)
					<td><a href="/data/scores?type=school_$esc.url($school.getName())&level=$level">$school.getName()</a></td>
				#else
					<td>$school.getName()</td>
				#end

				#if($admin)
					<td>
						<a class="popovers" href="#" data-toggle="popover"
								title="#foreach($entry in $school.getNumTests().entrySet()) <strong>$entry.getKey()</strong>: $entry.getValue() <br> #end">
							$school.getNumStudents()
						</a>
					</td>
				#end

				#foreach($subject in $subjects)
					<td>
						<a class="popovers" href="#" data-toggle="popover"
							title="#foreach($student in $school.getScoreStudents($subject))
									<strong>#if($hideFullNames) $student.getPublicName() ($student.getGrade())
									#else $student.getName() ($student.getGrade()) #end</strong>
									- $student.getScore($subject).getScoreNum() <br>
								#end">

							$school.getScore($subject)
						</a>
					</td>
				#end

				<td> $school.getTotalScore() </td>
			</tr>
		#end
	</table>
</div>

<div id="stackedColumnGraph"></div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#stackedColumnGraph').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Sweepstakes Winners'
			},
			xAxis: {
				categories: [
					#foreach($school in $winners)
						#if($foreach.count > $trophy * 3 || $foreach.count > 6)
							#break
						#end
						'$school.getName()',
					#end
				]
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Overall Score'
				},
				stackLabels: {
					enabled: true,
					style: {
						fontWeight: 'bold',
						color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
					}
				}
			},
			legend: {
				align: 'right',
				x: -30,
				verticalAlign: 'top',
				y: 25,
				floating: true,
				backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
				borderColor: '#CCC',
				borderWidth: 1
			},
			plotOptions: {
				column: {
					stacking: 'normal',
					dataLabels: {
						enabled: true,
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
						style: {
							textShadow: '0 0 3px black'
						}
					}
				}
			},
			series: [
				#foreach($subject in $subjects)
					{
						name: '$subject.getName()',
						data: [
							#foreach($school in $winners)
								#if($foreach.count > $trophy * 3 || $foreach.count > 6)
									#break
								#end
								Math.round($school.getAdjustedScore($subject)),
							#end
						]
					},
				#end
			]
		})
	});
</script>
