<h2><a class="anchor" id="visualizations"></a>Visualizations</h2>

<div class="accordion" id="accordion">
	#foreach($subject in $subjects)
		#if($subject == 'M')
   			#set($title = "Math Grade Comparison")
       	#elseif($subject == 'C')
       		#set($title = "Calculator Grade Comparison")
       	#elseif($subject == 'N')
       		#set($title = "Number Sense Grade Comparison")
       	#else
       		#set($title = "Science Grade Comparison")
       	#end
        	
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse${subject}"> $title</a>
			</div>
			<div id="collapse$subject" class="accordion-body collapse #if($foreach.first) in #end">
				<div class="accordion-inner">
					<div id="${subject}-graph" style="height: 400px; min-width: 310px; max-width: 600px"></div>
				</div>
			</div>
		</div>
	#end
</div>

<div>
	Outliers computed using <a href="https://en.wikipedia.org/wiki/Chauvenet's_criterion" target="_blank">Chauvenet's Criterion for Outliers</a>
	with assumptions of Gaussian normality for sample populations of over 5 scores.
</div>


#set($minGrade = 1000)
#foreach($test in $tests)
	#if($summaryStats[$test]) <div id="$test" style="display: none;">$summaryStats[$test]</div> #end
	#if($test.grade() < $minGrade)
		#set($minGrade = $test.grade())
	#end
#end

<script type="text/javascript">
	$(document).ready(function () {
		#foreach($subject in $subjects)
			#if($subject == 'M')
    			#set($title = "Math Scores")
        	#elseif($subject == 'C')
        		#set($title = "Calculator Scores")
        	#elseif($subject == 'N')
        		#set($title = "Number Sense Scores")
        	#else
        		#set($title = "Science Scores")
        	#end
        	
        	#set($outlierList = [])
        	#foreach($test in $tests)
        		#if($test.test() == $subject)
	        		#foreach($outlier in $outliers[$test])
	        			#set($marker = $test.grade() - $minGrade)
	        			#set($outlierString = "[" + $marker + "," + $outlier + "]")
	        			#set($dummy = $outlierList.add($outlierString))
	        		#end
        		#end
        	#end
        	
			$('#${subject}-graph').highcharts({
			    chart: {
			        type: 'boxplot',
		            inverted: true
			    },
			    title: {
			        text: '$title'
			    },
			    legend: {
			        enabled: false
			    },
			    xAxis: {
			    	#if($level == "middle")
			        	categories: ['6', '7', '8'],
			        #else
			        	categories: ['9', '10', '11', '12'],
			        #end
			        title: {
			            text: 'Grade'
			        }
			    },
			    yAxis: {
			        title: {
			            text: 'Score'
			        }	 
			    },
			
			    series: [{
			        name: 'Score',
			        data: [
						#if($level == "middle")   
			            	$.parseJSON($('#6${subject}').html()),
			            	$.parseJSON($('#7${subject}').html()),
			           		$.parseJSON($('#8${subject}').html())
			           	#else
			           		$.parseJSON($('#9${subject}').html()),
			            	$.parseJSON($('#10${subject}').html()),
			           		$.parseJSON($('#11${subject}').html()),
			           		$.parseJSON($('#12${subject}').html())
			            #end
			        ],
			        tooltip: {
			            headerFormat: '<em>Grade {point.key}</em><br/>'
			        }
			    },{
			        name: 'Outlier',
			        color: Highcharts.getOptions().colors[0],
			        type: 'scatter',
			        data: [
			            #foreach($outlier in $outlierList)
			            	$outlier#if(!$foreach.last),#end
			            #end
			        ],
			        marker: {
			            fillColor: 'white',
			            lineWidth: 1,
			            lineColor: Highcharts.getOptions().colors[0]
			        },
			        tooltip: {
			            pointFormat: 'Score: {point.y}'
			        }
			    }]
			});
		#end
	});
</script>